/*  GENERAL  */

*
{
    margin: 0;
    padding: 0;
/*
    box-sizing: content-box;
    box-sizing: border-box;
*/
}

@font-face {
    font-family: "Simplicity";
	src: url('../font/simplicity2/simplicity.ttf');
}

@font-face {
    font-family: "Lato";
	src: url('../font/Lato/Lato-Regular.ttf');
}

body
{
    font-family: 'Lato' !important;
    font-size: 1.5em !important;
    font-weight: 600 !important;
}

h1, h2, h3, h4
{
    font-family: 'Simplicity' !important;
    color: #4d4d4d !important;
}

h3
{
    font-size: 2em !important;
}

p
{
    line-height: 20px;
}

a
{
    text-decoration: none;
    color: #444 !important;
}

.clear
{
    clear: both;
}

.wrapper
{
    margin: 0 auto;
    width: 70%;
    padding-top: 10vh;
}

.white-divider
{
    width: 300px;
    height: 2px;
    background: #fff;
    margin: 50px auto;
}

.white-border
{
    border-bottom: 2px solid white !important;
}

.title
{
    width: 50%;
    border-bottom: 2px solid #f57280;
    margin-bottom: 20px;
}

.logo
{
    max-height: 45px;
    max-width: 45px;
}


/*  Navbar  */

.navbar {
    background-color: #eeee !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a
{
    color: #f57280 !important;
    background-color: #0000 !important;
    margin-top: 3px;
}

#myNavbar
{
    padding-top: 7px;
}

#myNavbar ul li a
{

}

.navbar-brand
{
    height: auto !important;
}

/*  CAROUSEL  */





/*  APPINMOVE  */
#appinmove
{
    background: url('../img/fondappinmove.png') center;
    background-repeat: no-repeat;
    background-size: cover;
}


#appinmove-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about
{
    display: flex;
    flex-direction: column;
    text-align: justify;
}


#about header
{
    display: flex;
}

#about header img
{
    width: 30px;
    height: 45px;
    align-self: center;
    margin-left: 10px;
}
#about-content
{
    align-self: center;
    min-height: 70vh;
    max-width: 80%;
    padding: 20px 0;
    font-size: 1em;
}

#about-content p
{
    margin: 0 0 35px !important;
}


/* SKILLS */

#skills h2, #skills h3, #skills h4, #skills ul, #skills p
{
    color: #fff !important;
} 

#skills
{
    background-color: #8784a3;
    padding-top: 10vh;
}

.skills-bloc
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skills-bloc .skill
{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 10px;
}

.skills-bloc .skill-head
{
    text-align: center;
}

#skills-footer
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#skills-footer .skill
{
    margin: 10px;
    max-width: 300px;

}


#skills-footer .skill-head img
{
    height: 45px;
}

.skill-sub-list
{
    font-size: 0.8em;
}



/*
#skills
{
    background-color: #8784a3;
    padding-top: 10vh;
}

#skills h2, #skills h3, #skills h4, #skills ul, #skills p
{
    color: #fff !important;
} 
.skill-item
{

    min-height: 100% !important;
    display: flex;
    flex-direction: column;


}

.skill-item img
{
    height: 100px;
    width: 100px;
}

.skill-sub-item
{

    margin: 10px;
    
}



.skill-sub-item img
{
    max-height: 45px !important;
}

.skill-sub-item h4
{

}

.skill-sub-list ul
{
    padding-left: 15px !important;
}


.skill-item .skill-head
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skill-item p
{
    text-align: justify;
    max-width: 70%;
}

*/

/* TEAM */

#team-content
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#movers
{
    min-width: 60%;
}

.card
{
    align-self: center;
    text-align: center;
    margin: 10px;
}

.card img
{
    height: 25vh;
}

.card p
{
    margin: 5px 0 5px;
}

.card-bloc
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.you
{
    align-self: center;
}

/*
#team
{
min-height: 100vh;
}

#team-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#team-content
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#team-article
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.member
{
    margin-top: 20px;
    text-align: center;
}

.name{
    color: #f57280;
    font-size: 2em !important;
    font-weight: bold;
}
*/

/* PARTNER */

#partners
{
    background-color: #f2747f;
}


#partners-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#partners-article
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#partners-article header h2
{
    color: #fff !important;
}


#partners-content
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 0;
}

.partner{
    min-width: 15%;
    margin: 50px 0;
    text-align: center
}

.partner img
{
    max-height: 25vh;
    filter: grayscale(100%);
}

.partner img:hover
{
    filter: none;
}


/* CONTACT */
#contact
{
    background: url('../img/img_webdesign/contact_img.png') center;
    padding-bottom: 30px;
}

#contact aside {
    padding: 3em;
    color: #fff;
    font-weight: bold;
}

#contact aside a.tel {
    color: inherit !important;
    font-weight: inherit;
}

#contact h2
{
    color: #fff !important;
}


.form-control
{
    opacity: 0.5;
}

.btn-default
{
    color: #f57280 !important;
    font-weight: bold !important;
}

/* FOOTER */
#coordinate
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin-right: 20px;
}

#footer-content
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#social-img img
{
    max-width: 45px;
    max-height: 45px;
}

/*  RESPONSIVE DESIGN  */
/* BIGGER */
@media (min-width: 768px) {

    .navbar .navbar-nav {
        display: inline-block !important;
        float: none !important;
        vertical-align: top !important;
    }

    .navbar .navbar-nav {
        text-align: center !important;
    }

    #myNavbar
    {
        float: right;

    }
}



/* SMALLER */
@media (max-width: 768px) { 
    #myNavbar
    {
        background-color: #eeee;
    }

    .navbar-nav
    {
        margin: 0 !important;
    }

   .nav
   {
    float: none !important;
    text-align: center;

   }

   .navbar-header
   {
    float: none !important;
    text-align: center;
   }

   .navbar-brand
   {
   margin-left: 10px;
   }


   #myCarousel
   {
       padding-top: 10vh;
   }

    #skills-footer
    {
        justify-content: start !important;
    }
   
 }